li{
-webkit-box-shadow: -6px 0px 5px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -6px 0px 5px 0px rgba(0,0,0,0.45);
box-shadow: -6px 0px 5px 0px rgba(0,0,0,0.45);

}
.navbar{
	background: url(../images/rev2.png);
	-webkit-box-shadow: 6px 18px 39px 0px rgba(0,16,186,1);
-moz-box-shadow: 6px 18px 39px 0px rgba(0,16,186,1);
box-shadow: 6px 18px 39px 0px rgba(0,16,186,1);
}
a:link.Kachel
    {
        
        line-height: 100px;
       
       /* text-align: center;*/
		
        
    }
.home {
	background-color: #ACC908;
	
	height: 150px
}
.service {
	background-color: #b2a095;
	height: 150px
	
}
.about {
	background-color: #d6de23;
	height: 150px
	
}
.contact {
	background-color: #BFB0AF;
	height: 150px
	
}

.training {
	background-color: #E4035E;
	height: 150px
	
}

ul{
	height: 150px
		
}
@font-face{
	font-family: champagne;
	src: url(../fonts/Champagne.ttf)
}
@font-face {
	font-family: CaviarDreams;
	src: url(../fonts/CaviarDreams_Bold.ttf)
}
.rotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	transform: rotate(0.0deg);
	
}

.nav-link {
	font-family: CaviarDreams;
	text-transform: uppercase;
	transform: rotate(270deg);
	
	
}
p{
	color: #cccc00;
	text-decoration: bold
}
.navbar-brand {
	padding: 60px 150px 0px ;
	height: 150px;
	line-height: 80px;
	font-family: champagne;
	text-transform: uppercase;
}
.colo{
	color: #cccc00
}
.navbar-toggle {
	/* (80px - button height 34px) / 2 = 23px */
	margin-top: 23px;
	padding: 9px 10px !important;
}


